USE [master]
GO
/****** Object:  Database [SIU]    Script Date: 26/05/2018 0:18:52 ******/
CREATE DATABASE [SIU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIU', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SIU.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SIU_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SIU_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIU]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 26/05/2018 0:18:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[DNI] [int] NOT NULL,
	[APEL_NOMBRE] [varchar](50) NOT NULL,
	[TIPO_USUARIO] [varchar](50) NOT NULL,
	[TIPO_DNI] [char](3) NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[APEL_NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 26/05/2018 0:18:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[CODIGO] [char](3) NOT NULL,
	[DESCRIPCION] [varchar](15) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PERSONA] ([DNI], [APEL_NOMBRE], [TIPO_USUARIO], [TIPO_DNI]) VALUES (11222333, N'Alejandro Vera', N'ALUMNO', N'DNI')
INSERT [dbo].[PERSONA] ([DNI], [APEL_NOMBRE], [TIPO_USUARIO], [TIPO_DNI]) VALUES (11222444, N'Daniel Fernandez', N'DOCENTE', N'DNI')
INSERT [dbo].[PERSONA] ([DNI], [APEL_NOMBRE], [TIPO_USUARIO], [TIPO_DNI]) VALUES (11111111, N'Pablo Escobar', N'ALUMNO', N'PAS')
INSERT [dbo].[TIPO_DOCUMENTO] ([CODIGO], [DESCRIPCION]) VALUES (N'DNI', N'DNI')
INSERT [dbo].[TIPO_DOCUMENTO] ([CODIGO], [DESCRIPCION]) VALUES (N'PAS', N'Pasaporte')
USE [master]
GO
